<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.AddressMapper">
	<select id="getAddressList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			m.member_id memberId, 
			m.member_name memberName, 
			d.department_id departmentId, 
			m.member_level memberLevel, 
			m.member_phone memberPhone, 
			m.member_email memberEmail 
		FROM member m INNER JOIN department d 
		ON m.department_no = d.department_no
		<where>
		 <if test="colpol != null">
			<if test="colpol.equals('ㄱ')">
			    member_name rlike '^(ㄱ)' or (member_name &gt;= '가' and member_name &lt; '나')
			</if>
			<if test="colpol.equals('ㄴ')">
			    member_name rlike '^(ㄴ)' or (member_name &gt;= '나' and member_name &lt; '다')
			</if>
			<if test="colpol.equals('ㄷ')">
			    member_name rlike '^(ㄷ)' or (member_name &gt;= '다' and member_name &lt; '라')
			</if>
			<if test="colpol.equals('ㄹ')">
			    member_name rlike '^(ㄹ)' or (member_name &gt;= '라' and member_name &lt; '마')
			</if>
			<if test="colpol.equals('ㅁ')">
			    member_name rlike '^(ㅁ)' or (member_name &gt;= '마' and member_name &lt; '바')
			</if>
			<if test="colpol.equals('ㅂ')">
			    member_name rlike '^(ㅂ)' or (member_name &gt;= '바' and member_name &lt; '사')
			</if>
			<if test="colpol.equals('ㅅ')">
			    member_name rlike '^(ㅅ)' or (member_name &gt;= '사' and member_name &lt; '아')
			</if>
			<if test="colpol.equals('ㅇ')">
			    member_name rlike '^(ㅇ)' or (member_name &gt;= '아' and member_name &lt; '자')
			</if>
			<if test="colpol.equals('ㅈ')">
			    member_name rlike '^(ㅈ)' or (member_name &gt;= '자' and member_name &lt; '차')
			</if>
			<if test="colpol.equals('ㅊ')">
			    member_name rlike '^(ㅊ)' or (member_name &gt;= '차' and member_name &lt; '카')
			</if>
			<if test="colpol.equals('ㅋ')">
			    member_name rlike '^(ㅋ)' or (member_name &gt;= '카' and member_name &lt; '타')
			</if>
			<if test="colpol.equals('ㅌ')">
			    member_name rlike '^(ㅌ)' or (member_name &gt;= '타' and member_name &lt; '파')
			</if>
			<if test="colpol.equals('ㅍ')">
			    member_name rlike '^(ㅍ)' or (member_name &gt;= '파' and member_name &lt; '하')
			</if>
			<if test="colpol.equals('ㅎ')">
			    member_name rlike '^(ㅎ)' or (member_name &gt;= '하')
			</if>
		 </if>
		 <if test="searchName != ">
				member_name LIKE '%'#{searchName}'%'
		 </if>
		</where>
		ORDER BY m.member_name 
		LIMIT #{beginRow}, #{rowPerPage};
	</select>
	<!-- 리스트 총행의 수 -->
	<select id="getAddressListCnt" parameterType="java.util.Map">
		SELECT 
			COUNT(*)
		FROM member m INNER JOIN department d 
		ON m.department_no = d.department_no
		<where>
		 <if test="colpol != null">
			<if test="colpol.equals('ㄱ')">
			    member_name rlike '^(ㄱ)' or (member_name &gt;= '가' and member_name &lt; '나')
			</if>
			<if test="colpol.equals('ㄴ')">
			    member_name rlike '^(ㄴ)' or (member_name &gt;= '나' and member_name &lt; '다')
			</if>
			<if test="colpol.equals('ㄷ')">
			    member_name rlike '^(ㄷ)' or (member_name &gt;= '다' and member_name &lt; '라')
			</if>
			<if test="colpol.equals('ㄹ')">
			    member_name rlike '^(ㄹ)' or (member_name &gt;= '라' and member_name &lt; '마')
			</if>
			<if test="colpol.equals('ㅁ')">
			    member_name rlike '^(ㅁ)' or (member_name &gt;= '마' and member_name &lt; '바')
			</if>
			<if test="colpol.equals('ㅂ')">
			    member_name rlike '^(ㅂ)' or (member_name &gt;= '바' and member_name &lt; '사')
			</if>
			<if test="colpol.equals('ㅅ')">
			    member_name rlike '^(ㅅ)' or (member_name &gt;= '사' and member_name &lt; '아')
			</if>
			<if test="colpol.equals('ㅇ')">
			    member_name rlike '^(ㅇ)' or (member_name &gt;= '아' and member_name &lt; '자')
			</if>
			<if test="colpol.equals('ㅈ')">
			    member_name rlike '^(ㅈ)' or (member_name &gt;= '자' and member_name &lt; '차')
			</if>
			<if test="colpol.equals('ㅊ')">
			    member_name rlike '^(ㅊ)' or (member_name &gt;= '차' and member_name &lt; '카')
			</if>
			<if test="colpol.equals('ㅋ')">
			    member_name rlike '^(ㅋ)' or (member_name &gt;= '카' and member_name &lt; '타')
			</if>
			<if test="colpol.equals('ㅌ')">
			    member_name rlike '^(ㅌ)' or (member_name &gt;= '타' and member_name &lt; '파')
			</if>
			<if test="colpol.equals('ㅍ')">
			    member_name rlike '^(ㅍ)' or (member_name &gt;= '파' and member_name &lt; '하')
			</if>
			<if test="colpol.equals('ㅎ')">
			    member_name rlike '^(ㅎ)' or (member_name &gt;= '하')
			</if>
		 </if>
		 <if test="searchName != ">
				member_name LIKE '%'#{searchName}'%'
		 </if>
		</where>
		ORDER BY m.member_name 
	</select>
</mapper>