<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.ApprovalMapper">

	<!-- 1.) 결재 리스트출력 -->
	<select id = "getApprovalList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			approval_no approvalNo,
			member_id memberId,
			approval_title approvalTitle,
			approval_content approvalContent,
			approval_form approvalForm,
			approval_now_status approvalNowStatus,
			approval_first_id approvalFirstId,
			approval_first_comment approvalFirstComment,
			approval_second_id approvalSecondId,
			approval_second_comment approvalSecondComment,
			approval_third_id approvalThirdId,
			approval_third_comment approvalThirdComment,
			approval_last_number approvalLastNumber,
			approval_last_status approvalLastStatus,
			createdate,
			updatedate
		FROM approval
		<where>
			(member_id = #{memberId}
			OR (approval_first_id = #{memberId})
			OR (approval_second_id = #{memberId})
			OR (approval_third_id = #{memberId}))
			<!-- 제목 검색 -->
			<if test="searchWord != null and searchWord != ''">
				AND approval_title LIKE '%' #{searchWord} '%'
			</if>
			<!-- 현재 상태에 따른 리스트 출력 -->
			<if test="approvalNowStatus != null and approvalNowStatus != ''">
				AND approval_now_status = #{approvalNowStatus}
			</if>
		</where>
		ORDER BY createdate DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	
	<!-- 2.) 결재 리스트 분기값에 따른 결재리스트 행 개수 -->
	<select id="getApprovalListCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM approval
		<where>
			(member_id = #{memberId}
			OR (approval_first_id = #{memberId})
			OR (approval_second_id = #{memberId})
			OR (approval_third_id = #{memberId}))
			<if test="searchWord != null and searchWord != ''">
				AND approval_title LIKE '%' #{searchWord} '%'
			</if>
			<if test="approvalNowStatus != null and approvalNowStatus != ''">
				AND approval_now_status = #{approvalNowStatus}
			</if>
		</where>
	</select>
	
	<!-- 3.) 결제 상세출력 -->
	<select id = "getOneApproval" parameterType="com.goodee.groupware.vo.Approval" resultType="java.util.Map">
	SELECT
		a.approval_no AS approvalNo,
		a.member_id AS memberId,
		m.member_name AS memberName,
		a.approval_title AS approvalTitle,
		a.approval_content AS approvalContent,
		a.approval_form AS approvalForm,
		a.approval_now_status AS approvalNowStatus,
		a.approval_first_id AS approvalFirstId,
		m_first.member_name AS approvalFirstName,
		a.approval_first_comment AS approvalFirstComment,
		a.approval_first_id AS approvalSecondId,
		m_second.member_name AS approvalSecondName,
		a.approval_second_comment AS approvalSecondComment,
		a.approval_third_id AS approvalThirdId,
		m_third.member_name AS approvalThirdName,
		a.approval_third_comment AS approvalThirdComment,
		a.approval_last_number AS approvalLastNumber,
		a.approval_last_status AS approvalLastStatus,
		a.createdate,
		a.updatedate
	FROM approval a
	JOIN member m ON a.member_id = m.member_id
	LEFT JOIN member m_first ON a.approval_first_id = m_first.member_id
	LEFT JOIN member m_second ON a.approval_second_id = m_second.member_id
	LEFT JOIN member m_third ON a.approval_third_id = m_third.member_id
	WHERE a.approval_no = #{approvalNo}
	</select>
	
	
	<!-- 4.) 결재 추가 -->
	<insert id ="addApproval" parameterType="com.goodee.groupware.vo.Approval">
		<!-- INSERT 작업 이후에 실행되며 Approval vo에 approvalNo로 선언되어 있는 값을 가져온다 -->
		<selectKey order="AFTER" keyProperty="approvalNo" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO approval(
			member_id,
			approval_title,
			approval_content,
			approval_form,
			approval_now_status,
			approval_first_id,
			approval_second_id,
			approval_third_id,
			approval_last_number,
			createdate,
			updatedate
		) VALUES(
			#{memberId},
			#{approvalTitle},
			#{approvalContent},
			#{approvalForm},
			'결재전',
			#{approvalFirstId},
			#{approvalSecondId},
			#{approvalThirdId},
			#{approvalLastNumber},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 5.) 결재 회수 -->
	<update id="updateApprovalRecall" parameterType="com.goodee.groupware.vo.Approval">
		UPDATE approval 
		SET approval_last_status = '회수',
			approval_now_status = '결재완료',
			updatedate = now()
		WHERE approval_no = #{approvalNo}
	</update>
	
	<!-- 6.) 결재 진행 코멘트 업데이트 -->
	<update id="updateApprovalComment" parameterType="com.goodee.groupware.vo.Approval">
		UPDATE approval
		SET	approval_first_comment = #{approvalFirstComment},
			approval_second_comment = #{approvalSecondComment},
			approval_third_comment = #{approvalThirdComment},
			updatedate = now()
		WHERE approval_no = #{approvalNo}
	</update>
	
	<!-- 7.) 결재 진행 상태 변경 -->
	<update id="updateApprovalStatus" parameterType="com.goodee.groupware.vo.Approval">
		UPDATE approval
		SET	approval_now_status = #{approvalNowStatus},
			approval_last_status = #{approvalLastStatus},
			updatedate = now()
		WHERE approval_no = #{approvalNo}
	</update>
</mapper>