<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.ApprovalMapper">

	<!-- 결재 리스트출력 -->
	<select id = "getApprovalList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			approval_no approvalNo,
			member_id memberId,
			approval_title approvalTitle,
			approval_content approvalContent,
			approval_form approvalForm,
			approval_now_status approvalNowStatus,
			approval_first_id approvalFirstId,
			approval_first_comment approvalFirstComment,
			approval_second_id approvalSecondId,
			approval_second_comment approvalSecondComment,
			approval_third_id approvalThirdId,
			approval_third_comment approvalThirdComment,
			approval_last_number approvalLastNumber,
			approval_last_status approvalLastStatus,
			createdate,
			updatedate
		FROM approval
		<where>
			member_id = #{memberId}
			<if test="approvalLastStatus != null">
				AND approval_last_status = #{approvalLastStatus}
			</if>
			<if test="approvalNowStatus != null">
				AND approval_now_status = #{approvalNowStatus}
			</if>
		</where>
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	
	<!-- 결제 상세출력 -->
	<select id = "getOneApproval" parameterType="com.goodee.groupware.vo.Approval" resultType="com.goodee.groupware.vo.Approval">
		SELECT 
			approval_no approvalNo,
			member_id memberId,
			approval_title approvalTitle,
			approval_content aprrovalContent,
			approval_form approvalForm,
			approval_now_status approvalNowStatus,
			approval_first_id approvalFirstId,
			approval_first_comment approvalFirstComment,
			approval_second_id approvalSecondId,
			approval_second_comment approvalSecondComment,
			approval_third_id approvalThirdId,
			approval_third_comment approvalThirdComment,
			approval_last_number approvalLastNumber,
			approval_last_status approvalLastStatus,
			createdate,
			updatedate
		FROM approval
		WHERE approval_no = #{approvalNo}
	</select>
	
	<!-- 결재 분기값에 따른 결재행 개수 -->
	<select id="getApprovalListCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM approval
		WHERE member_id = #{memberId}
		<where>
			<if test="approvalLastStatus != null">
				AND approval_last_status = #{approvalLastStatus}
			</if>
			<if test="approvalNowStatus != null">
				AND approval_now_status = #{approvalNowStatus}
			</if>
		</where>
	</select>
	
	<!-- 결재 추가 -->
	<insert id ="addApproval" parameterType="com.goodee.groupware.vo.Approval">
		<!-- INSERT 작업 이후에 실행되며 Board vo에 boardNo로 선언되어 있는 값을 가져온다 -->
		<selectKey order="AFTER" keyProperty="approvalNo" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO approval(
			member_id,
			approval_title,
			approval_content,
			approval_form,
			approval_now_status,
			approval_first_id,
			approval_second_id,
			approval_third_id,
			approval_last_number,
			createdate,
			updatedate
		) VALUES(
			#{memberId},
			#{approvalTitle},
			#{approvalContent},
			#{approvalForm},
			'0결재전',
			#{approvalFirstId},
			#{approvalSecondId},
			#{approvalThirdId},
			#{approvalLastNumber},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 결재 회수 -->
	<update id="updateApprovalRecall" parameterType="com.goodee.groupware.vo.Approval">
		UPDATE approval 
		SET aproval_last_status = '4회수'
		WHERE approval_no = #{approvalNo}
	</update>
</mapper>