<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.goodee.groupware.mapper.EquipmentHistoryMapper">
	
	<!-- 1) 장비 사용내역 추가 -->
	<insert id="addEqHistory" parameterType="com.goodee.groupware.vo.EquipmentHistory">
		INSERT INTO equipment_history 
			(equipment_no, member_id, equipment_begindate)
		VALUES(#{equipmentNo}, #{memberId}, now())
	</insert>
	<!-- 1.1) 장비 대여,비대여 업데이트 -->
	<update id="updateEquipmentStatus" parameterType="com.goodee.groupware.vo.Equipment">
		UPDATE equipment SET equipment_status = #{equipmentStatus}
		WHERE equipment_no = #{equipmentNo}
	</update>
	
	<!-- 1.2) 장비 반납시 equipment_enddate 현재날짜로 변경 -->
	<update id="updateEqHistoryEnddate" parameterType="com.goodee.groupware.vo.EquipmentHistory">
		UPDATE equipment_history SET equipment_enddate = now()
		WHERE equipment_history_no = #{equipmentHistoryNo}
	</update>
	
	<!-- 2) 장비사용내역(상세보기)목록 -->
	<select id="getEqHistoryList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			eh.equipment_history_no equipmentHistoryNo, 
			eh.equipment_no equipmentNo, 
			e.equipment_name equipmentName,
			eh.member_id memberId, 
			eh.equipment_begindate equipmentBegindate, 
			eh.equipment_enddate equipmentEnddate
		FROM equipment_history eh INNER JOIN equipment e ON eh.equipment_no = e.equipment_no
		<where>
			<if test="equipmentNo != null">
				eh.equipment_no = #{equipmentNo}
			</if>
			<!-- 검색분기 -->
			<if test="memberId != null">
				AND member_id LIKE '%' #{memberId} '%'
			</if>
		</where>
		ORDER BY eh.equipment_history_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 2.1) 장비 사용내역(상세보기) 리스트 페이징을위한 총 행의 개수 쿼리 -->
	<select id="getEqHistoryListCnt" resultType="int" parameterType="String">
		SELECT 
			COUNT(*)
		FROM equipment_history eh INNER JOIN equipment e ON eh.equipment_no = e.equipment_no
		
		<where>
			<if test="equipmentNo != null">
				eh.equipment_no = #{equipmentNo}
			</if>
			<!-- 검색분기 -->
			<if test="memberId != null">
				AND member_id LIKE '%'#{memberId}'%'
			</if>
		</where>
	</select>
	
	<!-- 3) 장비사용내역(세션아이디로 자신이 사용한 장비)목록 -->
	<select id="getEqHistoryListById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			eh.equipment_history_no equipmentHistoryNo, 
			eh.equipment_no equipmentNo, 
			e.equipment_name equipmentName,
			e.equipment_status equipmentStatus,
			eh.member_id memberId,
			eh.equipment_begindate equipmentBegindate, 
			eh.equipment_enddate equipmentEnddate
		FROM equipment_history eh INNER JOIN equipment e ON eh.equipment_no = e.equipment_no
		<where>
			eh.member_id = #{memberId}
			<if test="equipmentName != null">
				AND e.equipment_name LIKE '%' #{equipmentName} '%'
			</if>
		</where>
		ORDER BY eh.equipment_history_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 3.1) 장비사용내역(세션아이디로 자신이 사용한 장비)목록 페이징을위한 총 행의 개수 쿼리 -->
	<select id="getEqHistoryListByIdCnt" resultType="int" parameterType="java.util.Map">
		SELECT 
			COUNT(*) 
		FROM equipment_history eh INNER JOIN equipment e ON eh.equipment_no = e.equipment_no
		<where>
			eh.member_id = #{memberId}
			<if test="equipmentName != null">
				AND e.equipment_name LIKE '%' #{equipmentName} '%'
			</if>
		</where>
	</select>
	
</mapper>