<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.FixturesMapper">
	<select id="getFixturesList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			p.parts_no partsNo,
			pc.parts_category_no partsCategoryNo,
			pc.parts_category partsCategory,
			p.parts_name partsName,
			p.parts_cnt partsCnt,
			p.parts_price partsPrice,
			p.parts_content partsContent	
		FROM parts p INNER JOIN parts_category pc ON p.parts_category_no = pc.parts_category_no
		<where>
		<!-- 검색분기 -->
			<if test="partsName != null">
				p.parts_name LIKE '%' #{partsName} '%'
			</if>
		</where>
		ORDER BY p.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getFixturesListCount" resultType="int" parameterType="String">
		SELECT 
			COUNT(*)
		FROM parts p INNER JOIN parts_category pc ON p.parts_category_no = pc.parts_category_no
		<where>
			<!-- 검색분기 -->
			<if test="partsName != null">
				p.parts_name LIKE '%' #{partsName} '%'
			</if>
		</where>
	</select>
	
	<!-- parts추가 -->
	<insert id="addParts" parameterType="com.goodee.groupware.vo.Parts">
		INSERT INTO parts 
			(parts_category_no, parts_name, parts_cnt, parts_price, parts_content, createdate, updatedate) 
		VALUES(#{partsCategoryNo}, #{partsName}, #{partsCnt}, #{partsPrice}, #{partsContent}, NOW(), NOW());
	</insert>	
	
	<!-- parts추가시 상위 카테고리 출력 0번은 부모번호이기 때문에 빼고 하위 번호만 출력 -->
	<select id="getPartsCategoryList" resultType="java.util.Map">
		SELECT 
		parts_category_no partsCategoryNo,
		parts_category partsCategory,
		parts_parent_no partsParentNo
		FROM parts_category
		WHERE parts_parent_no > 0;
	</select>
	
	<delete id="deleteParts" parameterType="com.goodee.groupware.vo.Parts">
		DELETE FROM parts 
		WHERE parts_no = #{partsNo}
	</delete>
</mapper>