<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.FixturesMapper">
	<!-- 1) 자재목록 join -->
	<select id="getFixturesList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			p.parts_no partsNo,
			pc.parts_category_no partsCategoryNo,
			pc.parts_category partsCategory,
			p.parts_name partsName,
			p.parts_cnt partsCnt,
			p.parts_price partsPrice,
			p.parts_content partsContent	
		FROM parts p INNER JOIN parts_category pc ON p.parts_category_no = pc.parts_category_no
		<where>
		p.parts_alive = 'Y'
		<!-- 검색분기 -->
			<if test="partsName != null">
				AND p.parts_name LIKE '%' #{partsName} '%'
			</if>
		</where>
		ORDER BY p.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 1.1) 자재목록 총행의 개수 -->
	<select id="getFixturesListCount" resultType="int" parameterType="String">
		SELECT 
			COUNT(*)
		FROM parts p INNER JOIN parts_category pc ON p.parts_category_no = pc.parts_category_no
		<where>
		p.parts_alive = 'Y'
			<!-- 검색분기 -->
			<if test="partsName != null">
				AND p.parts_name LIKE '%' #{partsName} '%'
			</if>
		</where>
	</select>
	
	<!-- 1.2) 자재목록 엑셀 리스트 -->
	<select id="getFixturesExcelList" resultType="java.util.Map">
		SELECT 
			p.parts_no partsNo,
			pc.parts_category_no partsCategoryNo,
			pc.parts_category partsCategory,
			p.parts_name partsName,
			p.parts_cnt partsCnt,
			p.parts_price partsPrice,
			p.parts_content partsContent	
		FROM parts p INNER JOIN parts_category pc ON p.parts_category_no = pc.parts_category_no
	</select>
	<!-- 2) parts추가 -->
	<insert id="addParts" parameterType="com.goodee.groupware.vo.Parts">
		INSERT INTO parts 
			(parts_category_no, parts_name, parts_cnt, parts_price, parts_content, createdate, updatedate) 
		VALUES(#{partsCategoryNo}, #{partsName}, #{partsCnt}, #{partsPrice}, #{partsContent}, NOW(), NOW());
	</insert>	
	
	<!-- 2.1) parts추가시 상위 카테고리 출력 0번은 부모번호이기 때문에 빼고 하위 번호만 출력 -->
	<select id="getPartsCategoryList" resultType="java.util.Map">
		SELECT 
		parts_category_no partsCategoryNo,
		parts_category partsCategory,
		parts_parent_no partsParentNo
		FROM parts_category
		WHERE parts_parent_no > 0;
	</select>
	
	<!-- 3) 자재 비활성화 -->
	<update id="updateParatsAlive" parameterType="com.goodee.groupware.vo.Parts">
		UPDATE parts SET parts_alive = 'N' 
		WHERE parts_no = #{partsNo}
	</update>
	
	<!-- repairService 2번에서 사용 수리완료시 사용자재 출력 -->
	<select id="getPartsList" resultType="java.util.Map">
		SELECT 
			parts_no partsNo,
			parts_name partsName,
			parts_cnt partsCnt,
			parts_price partsPrice
		FROM parts
		<where>
			<!-- 분기 -->
			<if test="partsName != null">
				parts_name = #{partsName}
			</if>
		</where>
	</select>
	
	<!-- repareService에서 사용됨) repair_parts에 사용된 목록이 추가가 되므로 parts테이블의 해당 자재의 개수가 사용된만큼 감소 -->
	<update id="updatePartsCnt" parameterType="java.util.Map">
		UPDATE parts SET parts_cnt = parts_cnt -#{partsCnt}
		WHERE parts_no = #{partsNo};
	</update>
	
</mapper>