<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.MeetingroomMapper">
<!-- 관리자 유무 조회 -->
<select id="getMemberLevelCount" parameterType="com.goodee.groupware.vo.Member" resultType="int">
	SELECT COUNT(*)
	FROM member
	where member_id = #{memberId} 
		AND member_level ='4관리자'
</select>

<!-- 회의실 목록 조회 -->
<select id="getMeetingroomList" resultType="com.goodee.groupware.vo.Meetingroom">
	SELECT 
		meetingroom_no meetingroomNo,
		meetingroom_content meetingroomContent,
		createdate,
		updatedate
	FROM meetingroom
</select>

<!-- 회의실 추가 -->
<insert id="addMeetingroom" parameterType="com.goodee.groupware.vo.Meetingroom">
	INSERT INTO meetingroom(
		meetingroom_no,
		meetingroom_content,
		createdate,
		updatedate
	) VALUES(
		#{meetingroomContent},
		NOW(),
		NOW()
	)
</insert>

<update id="updateMeetingroom" parameterType="com.goodee.groupware.vo.Meetingroom">
	UPDATE meetingroom
	SET meetingroom_no = #{meetingroom_no},
		meetingroom_content = #{meetingroomContent},
		updatedate = NOW()
	WHERE meetingroom_no = #{meetingroomNo}	
</update>

<!-- 회의실 삭제 -->
<delete id="deleteMeetingroom" parameterType="com.goodee.groupware.vo.Meetingroom">
	DELETE FROM meetingroom
	WHERE meetingroom_no = #{meetingroomNo}
</delete>




</mapper>