<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.MeetingroomMapper">
	<!-- 회의실 목록 조회 -->
	<select id="getMeetingroomList" parameterType="java.util.Map" resultType="com.goodee.groupware.vo.Meetingroom">
		SELECT 
			meetingroom_no meetingroomNo,
			meetingroom_content meetingroomContent,
			createdate,
			updatedate
		FROM meetingroom
		ORDER BY createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 회의실 목록의 총 행의 개수 -->
	<select id="getMeetingroomListRow" resultType="int">
		SELECT
			COUNT(*)
		FROM meetingroom
	</select>
	
	<!-- 회의실 추가 -->
	<insert id="addMeetingroom" parameterType="com.goodee.groupware.vo.Meetingroom">
		INSERT INTO meetingroom(
			meetingroom_no,
			meetingroom_content,
			createdate,
			updatedate
		) VALUES(
			#{meetingroomNo},
			#{meetingroomContent},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 회의실 삭제 -->
	<delete id="deleteMeetingroom" parameterType="com.goodee.groupware.vo.Meetingroom">
		DELETE FROM meetingroom
		WHERE meetingroom_no = #{meetingroomNo}
	</delete>
	
	<!-- 모든 회의실 조회 -->
	<select id="getAllMeetingroomList" resultType="com.goodee.groupware.vo.Meetingroom">
		SELECT 
			meetingroom_no meetingroomNo
		FROM meetingroom
	</select>

	<!-- 회의실 별 예약 조회 --> 	
	<select id="getMeetingroomReservationList" parameterType="java.util.Map" resultType="com.goodee.groupware.vo.MeetingroomReserve">
		SELECT
			meetingroom_reserve_no meetingroomReserveNo,
			meetingroom_no meetingroomNo,
			meetingroom_reserve_date meetingroomReserveDate,
			meetingroom_reserve_time meetingroomReserveTime,
			meetingroom_reserve_status meetingroomReserveStatus
		FROM meetingroom_reserve
		<where>
			<if test="meetingroomNo != null">
				meetingroom_no = #{meetingroomNo}
			</if>
	 		AND meetingroom_reserve_status = 'Y'
			AND YEAR(meetingroom_reserve_date) = #{targetYear}
            AND MONTH(meetingroom_reserve_date) = #{targetMonth}
		</where>
	</select>
	
	<!-- 회의실 예약 유무 -->
	<select id="getReservationCount" parameterType="com.goodee.groupware.vo.MeetingroomReserve" resultType="int">
		SELECT 
			COUNT(*)
		FROM meetingroom_reserve
		WHERE meetingroom_no = #{meetingroomNo}
			AND meetingroom_reserve_date = #{meetingroomReserveDate}
			AND meetingroom_reserve_time = #{meetingroomReserveTime}
			AND meetingroom_reserve_status = 'Y'
	</select>
	
	<!-- 예약 가능한 회의실 예약 등록 -->
	<insert id="addMeetingroomReservation" parameterType="com.goodee.groupware.vo.MeetingroomReserve">
		INSERT INTO meetingroom_reserve(
			meetingroom_no,
			department_no,
			meetingroom_reserve_date,
			meetingroom_reserve_time,
			meetingroom_reserve_status,
			createdate,
			updatedate
		) VALUES(
			#{meetingroomNo},
			#{departmentNo},
			#{meetingroomReserveDate},
			#{meetingroomReserveTime},
			'Y',
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 회의실 예약 취소 -->
	<update id="updateMeetingroomReservation" parameterType="com.goodee.groupware.vo.MeetingroomReserve">
		UPDATE meetingroom_reserve
		SET meetingroom_reserve_status = 'N',
			updatedate = NOW()
		WHERE meetingroom_reserve_no = #{meetingroomReserveNo}
	</update>
	
	<!-- 회의실 예약/취소 내역 조회 -->
	<select id="getReservationHistory" parameterType="com.goodee.groupware.vo.MeetingroomReserve" resultType="com.goodee.groupware.vo.MeetingroomReserve">
		SELECT 
			meetingroom_reserve_no meetingroomReserveNo,
			meetingroom_no meetingroomNo,
			meetingroom_reserve_date meetingroomReserveDate,
			meetingroom_reserve_time meetingroomReserveTime,
			meetingroom_reserve_status meetingroomReserveStatus
		FROM meetingroom_reserve
		WHERE meetingroom_reserve_status IN('Y', 'N')
			AND department_no = #{departmentNo}
		ORDER BY updatedate DESC	
	</select>

</mapper>