<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.groupware.mapper.MemberMapper">
	<!-- id 체크 및 부서번호, 직급 -->
	<select id="checkMember"
			parameterType="com.goodee.groupware.vo.Member"
			resultType="com.goodee.groupware.vo.Member">
		SELECT m.department_no departmentNo, d.department_parent_no departmentParentNo, m.member_level memberLevel, count(*) cnt
		FROM member m inner join department d
				on m.department_no = d.department_no
		<where>
			<if test="memberPw.equals(&quot;1234&quot;)">
				member_id = #{memberId}
				AND member_pw = #{memberPw}
			</if>
			<if test="!memberPw.equals(&quot;1234&quot;)">
				member_id = #{memberId}
				AND member_pw = PASSWORD(#{memberPw})
			</if>
		</where>
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id="updatePw"
			parameterType="com.goodee.groupware.vo.Member">
		UPDATE member
		SET member_pw = PASSWORD(#{memberPw}),
			updatedate = NOW()
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 마이페이지 수정 -->
	<update id="updateOneMember"
			parameterType="com.goodee.groupware.vo.Member">
		UPDATE member
		SET member_name = #{memberName},
			member_phone = #{memberPhone},
			member_email = #{memberEmail},
			member_address = #{memberAddress},
			updatedate = NOW()
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 사인 수정 -->
	<update id="updateSign"
			parameterType="com.goodee.groupware.vo.Member">
		UPDATE member
		SET member_sign_file = #{memberSignFile},
			updatedate = NOW()
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 근태 출력 -->
	<select id="getWorkList"
			parameterType="java.util.Map"
			resultType="com.goodee.groupware.vo.Work">
		SELECT work_begin workBegin, work_end workEnd, work_date workDate, work_annual workAnnual
		FROM work
		WHERE member_id = #{memberId}
		AND YEAR(work_date) = #{targetYear}
		AND MONTH(work_date) = #{targetMonth}
	</select>
	
	<!-- 출근 입력 -->
	<insert id="addWorkBegin"
			parameterType="com.goodee.groupware.vo.Work">
		INSERT INTO work(member_id, work_begin, work_date, createdate, updatedate)
		VALUES(#{memberId}, #{workBegin}, #{workDate}, NOW(), NOW())
	</insert>

	<!-- 퇴근 입력 -->
	<update id="addWorkEnd"
			parameterType="com.goodee.groupware.vo.Work">
		UPDATE work
		SET work_end = #{workEnd},
			updatedate = NOW()
		WHERE member_id = #{memberId}
		AND work_date = #{workDate}
	</update>

	<!-- 연차 입력 -->
	<insert id="addWorkAnnual"
			parameterType="com.goodee.groupware.vo.Work">
		INSERT INTO work(work_date, work_annual createdate, updatedate)
		VALUES(#{workDate}, #{workAnnual}, NOW(), NOW())
	</insert>
	
	<!-- 출근 유의성 검사 -->
	<select id="checkWork"
			parameterType="com.goodee.groupware.vo.Work"
			resultType="int">
		SELECT COUNT(*) cnt
		FROM work
		WHERE member_id = #{memberId}
		AND work_date = #{workDate}
	</select>
</mapper>